<%- include('./include/header', {title: 'All_departements'}); %>
<div class="container">
    <a class="btn btn-success mt-3" href="/add-department">Add a Departement</a>
    <table class="table table-hover mt-3">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <%  departements.forEach(d => {
                    
            %>
                <tr>
                    <th scope="row"><a href="<%= '/department/' + d.id + '/users' %>" ><%= d.name %></a></th>
                    <td scope="row"><%= d.descreption %></td>
                    <!-- <td><a href="<%= '/update-departement/' + d.id %>" class="btn btn-warning">Edit</a></td> -->
                    <td><a href="<%= '/delete-departement/' + d.id %>" class="btn btn-danger">Delete</a></td>
                </tr>        
            <% 
                    
                })
             %>
        </tbody>
    </table>
    
</div>

<%- include('./include/footer'); %>