<%- include('./include/header', {title: 'users'}); %>

<div class="container">
    <a class="btn btn-success mt-3" href="<%= '/departement/' + id_dep + '/add-user'%>">Add a User</a>
    <a class="btn btn-success mt-3" href="/departments">All departements</a>

    <table class="table table-hover mt-3">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <% users.forEach(u => { %>
                <tr>
                    <th scope="row"><%= u.username %></th>
                    <td><%= u.email %></td>
                    <td><a href="<%= '/department/' + id_dep + /update-user/ + u.id %>" class="btn btn-warning">Edit</a></td>
                    <td><a href="<%= '/departement/' + id_dep + /delete-user/ + u.id %>" class="btn btn-danger">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</div>

<%- include('./include/footer'); %>